{
  "openapi": "3.1.0",
  "info": {
    "title": "Kibamail API",
    "version": "1.0.0",
    "description": "# Kibamail API\n\nThe Kibamail API provides a comprehensive set of endpoints for managing your email marketing operations programmatically.\n\n## Key Features\n\n- **Contacts Management**: Create, update, and segment your contact lists with custom properties\n- **Topics & Subscriptions**: Manage email topics and subscriber preferences\n- **Forms**: Create and publish embeddable forms for lead capture\n- **Segments**: Build dynamic audience segments using flexible filtering conditions\n- **Automations**: Set up automated email workflows triggered by contact behavior\n- **API Keys**: Secure, scoped API key management for workspace access\n\n## Authentication\n\nAll API requests require authentication using an API key. Include your API key in the Authorization header:\n\n```\nAuthorization: Bearer kb_your_api_key_here\n```\n\nAPI keys are scoped to specific permissions (read/write for each resource type). Generate keys from your workspace settings.\n\n## Rate Limiting\n\n- **Rate Limit**: 1000 requests per minute per API key\n- **Burst Limit**: 100 requests per second\n- Rate limit headers are included in all responses\n\n## Pagination\n\nList endpoints use cursor-based pagination for optimal performance:\n- `limit`: Number of items (1-100, default 20)\n- `after`: Cursor for next page (ID of last item)\n- `before`: Cursor for previous page (ID of first item)\n\nResponses include `hasMore` and `hasPrevious` flags for navigation.\n\n## Error Handling\n\nAll errors follow a consistent format with:\n- `type`: Error category (authentication_error, validation_error, etc.)\n- `code`: Specific error code (FORM_NOT_FOUND, INSUFFICIENT_SCOPE, etc.)\n- `message`: Human-readable description\n- `requestId`: Unique identifier for debugging\n- `validationErrors`: Field-level errors (for validation failures)\n\n## Webhooks\n\nConfigure webhooks to receive real-time notifications for:\n- Contact created/updated/unsubscribed\n- Form submissions\n- Automation triggers\n- Topic subscriptions/unsubscriptions\n\n## SDKs\n\nOfficial SDKs available for:\n- Node.js/TypeScript\n- Python\n- PHP\n- Ruby\n\nFor detailed guides and tutorials, visit our documentation."
  },
  "servers": [
    {
      "url": "https://api.kibamail.com",
      "description": "Production server - Use this for live applications"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local development server - For testing during development"
    }
  ],
  "paths": {
    "/v1/api-keys": {
      "get": {
        "summary": "List API Keys",
        "description": "Retrieve a paginated list of all API keys in your workspace.\n\n**Use Cases:**\n- View all active API keys\n- Audit API key usage\n- Manage workspace integrations\n- Identify keys for rotation or deletion\n\n**Behavior:**\n- Returns all API keys for the workspace\n- Keys are returned in reverse chronological order (newest first)\n- Actual key values are NOT included (only metadata)\n- Includes key name, scopes, and creation date\n- Uses cursor-based pagination\n\n**Required Scope:** Requires API key authentication\n\n**Security Note:**\n- Full key values are never returned (they're hashed)\n- Only the key prefix and metadata are shown\n- Use this to audit and manage your keys",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination - ID of the last item from the previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for reverse pagination - ID of the first item from the next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of API keys with metadata (key values not included)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "api_key_list"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "scopes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create API Key",
        "description": "Generate a new API key for programmatic workspace access.\n\n**Use Cases:**\n- Set up server-side integrations with your application\n- Create separate keys for different environments (dev, staging, production)\n- Generate keys with specific scopes for third-party integrations\n- Replace compromised or leaked API keys\n\n**Behavior:**\n- Returns the full API key ONLY on creation (starts with 'kb_')\n- Key is securely hashed before storage - cannot be retrieved again\n- Keys are scoped to specific permissions you define\n- Each key can have a custom name for identification\n- Keys remain active until explicitly revoked\n- No limit on number of active keys per workspace\n\n**Required Scope:** This endpoint requires session authentication (not API key)\n\n**Security Best Practices:**\n- Store the returned key securely immediately\n- Never commit keys to version control\n- Use environment variables for key storage\n- Rotate keys periodically (recommended: every 90 days)\n- Use minimum required scopes for each key\n- Revoke unused keys immediately\n\n**Note:** You cannot view the full key value after creation. If lost, generate a new key and update your integrations.",
        "tags": [
          "API Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "scopes": {
                    "minItems": 1,
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name",
                  "scopes"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created successfully. The full key value is included in the response and cannot be retrieved again.",
            "content": {
              "application/json": {
                "example": {
                  "object": "api_key",
                  "id": "api_key_abc123xyz789",
                  "key": "kb_live_1234567890abcdefghijklmnopqrstuvwxyz"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_key"
                    },
                    "id": {
                      "description": "API key identifier",
                      "type": "string"
                    },
                    "key": {
                      "description": "The full API key value (only shown once on creation)",
                      "type": "string"
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "key"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data, such as invalid scopes or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing session authentication. This endpoint requires user login, not API key authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{keyId}": {
      "delete": {
        "summary": "Delete API Key",
        "description": "Delete an API key permanently.\n\n**Use Cases:**\n- Revoke compromised or leaked API keys\n- Remove unused API keys\n- Clean up keys after decommissioning integrations\n- Rotate API keys for security\n\n**Behavior:**\n- API key is permanently deleted\n- Key can no longer be used for authentication\n- Cannot delete the currently authenticated API key\n- Operation is immediate and cannot be undone\n\n**Required Scope:** Requires API key authentication\n\n**Important:**\n- You cannot delete the API key you're currently using\n- Deleted keys cannot be recovered\n- Any integrations using the deleted key will stop working immediately\n- Update all services using the key before deletion",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "keyId",
            "in": "path",
            "description": "API Key ID to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted successfully. Returns the deleted key's ID for confirmation.",
            "content": {
              "application/json": {
                "example": {
                  "object": "api_key",
                  "id": "api_key_abc123xyz789"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_key"
                    },
                    "id": {
                      "description": "ID of the deleted API key",
                      "type": "string"
                    }
                  },
                  "required": [
                    "object",
                    "id"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Attempting to delete the currently authenticated API key or key not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "List Contacts",
        "description": "Retrieve a paginated list of all contacts in your workspace.\n\n**Use Cases:**\n- Export your entire contact database\n- Build custom contact management dashboards\n- Sync contacts with external CRM systems\n- Generate contact reports and analytics\n- Display contact lists in your application\n\n**Behavior:**\n- Returns contacts in reverse chronological order (newest first)\n- Uses cursor-based pagination for efficient data retrieval\n- Includes all contact properties (default and custom)\n- Includes subscription status and topic memberships\n- Maximum 100 contacts per request (use 'limit' parameter)\n- Deleted contacts are not included in results\n\n**Required Scope:** `read:contacts`\n\n**Pagination:**\n- Use 'after' cursor to fetch the next page\n- Use 'before' cursor to fetch the previous page\n- Response includes 'hasMore' and 'hasPrevious' flags\n- Cursors are based on contact IDs for stable pagination\n\n**Performance Tips:**\n- Use the maximum limit (100) for bulk exports\n- Cache results when possible to reduce API calls\n- For filtered results, use the /v1/contacts/search endpoint instead",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination - ID of the last item from the previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for reverse pagination - ID of the first item from the next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved paginated list of contacts with their properties, subscriptions, and metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "contact_list"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "phone": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "country": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "timezone": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "city": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "SUBSCRIBED",
                              "UNSUBSCRIBED",
                              "BOUNCED",
                              "COMPLAINED",
                              "ARCHIVED",
                              "UNCONFIRMED"
                            ]
                          },
                          "subscribedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "unsubscribedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "properties": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "email",
                          "firstName",
                          "lastName",
                          "phone",
                          "country",
                          "timezone",
                          "city",
                          "status",
                          "subscribedAt",
                          "unsubscribedAt",
                          "properties",
                          "topics"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "object",
                    "hasMore",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or API key lacks 'read:contacts' scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Contact",
        "description": "Create a new contact in your workspace.\n\n**Use Cases:**\n- Add subscribers from your website forms\n- Import contacts from external systems\n- Programmatically build your contact list\n- Create contacts from API integrations\n- Add leads captured through your application\n\n**Behavior:**\n- Email addresses are automatically normalized (lowercased, trimmed)\n- Duplicate emails return a 409 Conflict error\n- Custom properties must be pre-defined in your workspace\n- Property values are validated against their defined types (STRING, NUMBER, DATE, BOOLEAN)\n- Maximum 100 custom property slots per contact\n- Contact is created with 'subscribed' status by default\n- Timestamps (createdAt, updatedAt) are automatically set\n- Returns the complete contact object including generated ID\n\n**Required Scope:** `write:contacts`\n\n**Property Validation:**\n- STRING: Any text value, max 5000 characters\n- NUMBER: Valid numeric values (integers or decimals)\n- DATE: ISO 8601 format (YYYY-MM-DD or full timestamp)\n- BOOLEAN: true or false\n\n**Email Validation:**\n- Must be a valid email format\n- Cannot exceed 320 characters\n- Automatically converted to lowercase\n- Leading/trailing whitespace is trimmed\n\n**Note:** For bulk imports (>1000 contacts), consider using the batch import endpoint (coming soon) for better performance.",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "firstName": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "lastName": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 50
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "country": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 10
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "timezone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "city": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "default": "SUBSCRIBED",
                    "type": "string",
                    "enum": [
                      "SUBSCRIBED",
                      "UNSUBSCRIBED",
                      "BOUNCED",
                      "COMPLAINED",
                      "ARCHIVED",
                      "UNCONFIRMED"
                    ]
                  },
                  "subscribedAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "unsubscribedAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "properties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "topics": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully. Returns the complete contact object with generated ID and timestamps.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "contact"
                    },
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "firstName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "phone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "country": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timezone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "city": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUBSCRIBED",
                        "UNSUBSCRIBED",
                        "BOUNCED",
                        "COMPLAINED",
                        "ARCHIVED",
                        "UNCONFIRMED"
                      ]
                    },
                    "subscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "unsubscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "properties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "email",
                    "firstName",
                    "lastName",
                    "phone",
                    "country",
                    "timezone",
                    "city",
                    "status",
                    "subscribedAt",
                    "unsubscribedAt",
                    "properties",
                    "topics"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data, such as malformed email or exceeding property limits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or API key lacks 'write:contacts' scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Conflict - A contact with this email address already exists in the workspace. Use PUT /v1/contacts/{contactId} to update existing contacts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error - Property values don't match their defined types (e.g., text in a NUMBER field, invalid date format, undefined property names)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}": {
      "get": {
        "summary": "Get Contact",
        "description": "Retrieve a specific contact by ID.\n\n**Use Cases:**\n- Fetch contact details for display in your application\n- Verify contact information before updates\n- Check subscription status and topic memberships\n- Retrieve contact properties for personalization\n- Audit contact data and history\n\n**Behavior:**\n- Returns complete contact object including all properties\n- Includes subscription status (subscribed/unsubscribed)\n- Shows all topic memberships and their statuses\n- Includes metadata (createdAt, updatedAt timestamps)\n- Contact must belong to your workspace\n\n**Required Scope:** `read:contacts`\n\n**Response Includes:**\n- Basic info: id, email, firstName, lastName\n- All custom property values\n- Subscription status and unsubscribe reason (if applicable)\n- Topic memberships with individual subscription statuses\n- Timestamps for creation and last update",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved contact with all properties, subscription status, topic memberships, and metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "contact"
                    },
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "firstName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "phone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "country": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timezone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "city": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUBSCRIBED",
                        "UNSUBSCRIBED",
                        "BOUNCED",
                        "COMPLAINED",
                        "ARCHIVED",
                        "UNCONFIRMED"
                      ]
                    },
                    "subscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "unsubscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "properties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "email",
                    "firstName",
                    "lastName",
                    "phone",
                    "country",
                    "timezone",
                    "city",
                    "status",
                    "subscribedAt",
                    "unsubscribedAt",
                    "properties",
                    "topics"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or API key lacks 'read:contacts' scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Contact with this ID does not exist in your workspace or has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Contact",
        "description": "Update an existing contact's information and properties.\n\n**Use Cases:**\n- Update contact details when information changes\n- Modify custom property values\n- Change subscription preferences\n- Update contact names or profile information\n- Sync changes from external systems\n\n**Behavior:**\n- Only provided fields are updated (partial updates supported)\n- Email address can be updated (must still be unique)\n- Custom property values are validated against their types\n- Cannot update readonly fields (id, createdAt)\n- UpdatedAt timestamp is automatically refreshed\n- Returns the complete updated contact object\n- Email normalization applies (lowercase, trimmed)\n\n**Required Scope:** `write:contacts`\n\n**Updatable Fields:**\n- email (must remain unique in workspace)\n- firstName, lastName\n- All custom property values\n- Individual topic subscription statuses\n\n**Protected Fields:**\n- id (cannot be changed)\n- createdAt (immutable)\n- workspaceId (immutable)\n\n**Property Updates:**\n- Only include properties you want to change\n- Omitted properties retain their current values\n- Set property to null to clear its value\n- Type validation still applies to new values",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "firstName": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "lastName": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 50
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "country": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 10
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "timezone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "city": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "SUBSCRIBED",
                      "UNSUBSCRIBED",
                      "BOUNCED",
                      "COMPLAINED",
                      "ARCHIVED",
                      "UNCONFIRMED"
                    ]
                  },
                  "subscribedAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "unsubscribedAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "properties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "topics": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully. Returns the complete updated contact object with refreshed updatedAt timestamp.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "contact"
                    },
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "firstName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "phone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "country": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timezone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "city": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUBSCRIBED",
                        "UNSUBSCRIBED",
                        "BOUNCED",
                        "COMPLAINED",
                        "ARCHIVED",
                        "UNCONFIRMED"
                      ]
                    },
                    "subscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "unsubscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "properties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "topics": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "email",
                    "firstName",
                    "lastName",
                    "phone",
                    "country",
                    "timezone",
                    "city",
                    "status",
                    "subscribedAt",
                    "unsubscribedAt",
                    "properties",
                    "topics"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data, such as malformed email or attempting to update protected fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or API key lacks 'write:contacts' scope",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Contact with this ID does not exist in your workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
[...]
