@import "@kibamail/owly/styles/index.css";

/* @import "./animations.css" layer(base);
@import "./nodes.css" layer(base);
@import "./composer.css" layer(base);
@import "./fill-panel.css" layer(base); */

@import "tailwindcss" layer(base);

@plugin "tailwindcss-animate";

@theme inline {
  --font-sans: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)",
    Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: "Fira Mono", "Dank Mono", "Inconsolata", monospace;
  --default-mono-font-family: var(--font-mono);
}

/* @layer base {
  @font-face {
    font-family: "RocaTwo";
    src: url("/fonts/roca-two-rg.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
} */

body {
  @apply font-sans;
  --w-sidebar-width: 260px;
  background: var(--background-secondary);
}

#root {
  background-color: var(--background-secondary);
  @apply h-screen w-full flex flex-col overflow-y-auto;
}
