{
  "openapi": "3.1.0",
  "info": {
    "title": "Kibamail API",
    "version": "1.0.0",
    "description": "API for managing contacts, campaigns, and email marketing operations"
  },
  "servers": [
    {
      "url": "https://api.kibamail.com",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local development server"
    }
  ],
  "paths": {
    "/v1/api-keys/": {
      "post": {
        "summary": "Create API Key",
        "description": "Create a new API key for workspace authentication",
        "tags": [
          "API Keys"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 50
                  },
                  "scopes": {
                    "minItems": 1,
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name",
                  "scopes"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "api_key"
                    },
                    "key": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "object",
                    "key"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "get": {
        "summary": "List Contacts",
        "description": "Retrieve a paginated list of contacts using cursor-based pagination",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination - ID of the last item from the previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for reverse pagination - ID of the first item from the next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "contact_list"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "firstName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastName": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "phone": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "country": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "timezone": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "city": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "SUBSCRIBED",
                              "UNSUBSCRIBED",
                              "BOUNCED",
                              "COMPLAINED",
                              "ARCHIVED"
                            ]
                          },
                          "subscribedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "unsubscribedAt": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "properties": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                }
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "email",
                          "firstName",
                          "lastName",
                          "phone",
                          "country",
                          "timezone",
                          "city",
                          "status",
                          "subscribedAt",
                          "unsubscribedAt",
                          "properties"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "object",
                    "hasMore",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or insufficient scopes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Contact",
        "description": "Create a new contact in the workspace",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "firstName": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "lastName": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 50
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "country": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 10
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "timezone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "city": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "default": "SUBSCRIBED",
                    "type": "string",
                    "enum": [
                      "SUBSCRIBED",
                      "UNSUBSCRIBED",
                      "BOUNCED",
                      "COMPLAINED",
                      "ARCHIVED"
                    ]
                  },
                  "subscribedAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "unsubscribedAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "properties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    }
                  },
                  "topics": {
                    "default": [],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "email"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "contact"
                    },
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "firstName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "phone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "country": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timezone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "city": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUBSCRIBED",
                        "UNSUBSCRIBED",
                        "BOUNCED",
                        "COMPLAINED",
                        "ARCHIVED"
                      ]
                    },
                    "subscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "unsubscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "properties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "email",
                    "firstName",
                    "lastName",
                    "phone",
                    "country",
                    "timezone",
                    "city",
                    "status",
                    "subscribedAt",
                    "unsubscribedAt",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or insufficient scopes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Contact with this email already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error - Invalid field values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/{contactId}": {
      "get": {
        "summary": "Get Contact",
        "description": "Retrieve a specific contact by ID",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "contact"
                    },
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "firstName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "phone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "country": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timezone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "city": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUBSCRIBED",
                        "UNSUBSCRIBED",
                        "BOUNCED",
                        "COMPLAINED",
                        "ARCHIVED"
                      ]
                    },
                    "subscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "unsubscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "properties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "email",
                    "firstName",
                    "lastName",
                    "phone",
                    "country",
                    "timezone",
                    "city",
                    "status",
                    "subscribedAt",
                    "unsubscribedAt",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or insufficient scopes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Contact does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Contact",
        "description": "Update an existing contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "format": "email",
                    "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                  },
                  "firstName": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "lastName": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "phone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 50
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "country": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 10
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "timezone": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "city": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 100
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "SUBSCRIBED",
                      "UNSUBSCRIBED",
                      "BOUNCED",
                      "COMPLAINED",
                      "ARCHIVED"
                    ]
                  },
                  "subscribedAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "unsubscribedAt": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "properties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    }
                  },
                  "topics": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "contact"
                    },
                    "id": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "firstName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastName": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "phone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "country": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "timezone": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "city": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "SUBSCRIBED",
                        "UNSUBSCRIBED",
                        "BOUNCED",
                        "COMPLAINED",
                        "ARCHIVED"
                      ]
                    },
                    "subscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "unsubscribedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "properties": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "email",
                    "firstName",
                    "lastName",
                    "phone",
                    "country",
                    "timezone",
                    "city",
                    "status",
                    "subscribedAt",
                    "unsubscribedAt",
                    "properties"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or insufficient scopes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Contact does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "422": {
            "description": "Validation Error - Invalid field values",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Contact",
        "description": "Delete a specific contact",
        "tags": [
          "Contacts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or insufficient scopes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Contact does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/v1/topics": {
      "get": {
        "summary": "List Topics",
        "description": "Retrieve a paginated list of topics using cursor-based pagination",
        "tags": [
          "Topics"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination - ID of the last item from the previous page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Cursor for reverse pagination - ID of the first item from the next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of topics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "topic_list"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "visibility": {
                            "type": "string",
                            "enum": [
                              "PUBLIC",
                              "PRIVATE"
                            ]
                          },
                          "defaultOptIn": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "visibility",
                          "defaultOptIn"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "object",
                    "hasMore",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key, or insufficient scopes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
                                "type": "string"
                              }
                            },
                            "required": [
                              "field",
                              "code",
                              "message"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "details": {
                          "description": "Additional error context (optional)",
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        }
                      },
                      "required": [
                        "type",
                        "code",
                        "message",
                        "requestId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "error"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Topic",
        "description": "Create a new topic in the workspace",
        "tags": [
          "Topics"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 500
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "visibility": {
                    "default": "PUBLIC",
                    "type": "string",
                    "enum": [
                      "PUBLIC",
                      "PRIVATE"
                    ]
                  },
                  "defaultOptIn": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Topic created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "topic"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "visibility": {
                      "type": "string",
                      "enum": [
                        "PUBLIC",
                        "PRIVATE"
                      ]
                    },
                    "defaultOptIn": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "object",
                    "id",
                    "name",
                    "description",
                    "visibility",
                    "defaultOptIn"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "description": "Error type category",
                          "type": "string",
                          "enum": [
                            "authentication_error",
                            "invalid_request_error",
                            "validation_error",
                            "rate_limit_error",
                            "api_error"
                          ]
                        },
                        "code": {
                          "description": "Specific error code (CAPITAL_CASE, e.g., FORM_NOT_FOUND, INVALID_API_KEY)",
                          "type": "string"
                        },
                        "message": {
                          "description": "Human-readable error message",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Unique request identifier for tracing (starts with req_)",
                          "type": "string"
                        },
                        "validationErrors": {
                          "description": "Field-level validation errors (only present for validation_error type)",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "field": {
                                "description": "Field name that failed validation",
                                "type": "string"
                              },
                              "code": {
                                "description": "Error code for this field (e.g., INVALID_FIELD_VALUE)",
                                "type": "string"
                              },
                              "message": {
                                "description": "Human-readable error message for this field",
[...]
