.tiptap-button-node {
  .content {
    // width: fit-content;
    min-width: 60px;
  }
}

.tiptap-button-node-align-center {
  display: flex;
  justify-content: center;
}

.tiptap-button-node-align-right {
  display: flex;
  justify-content: flex-end;
}
